$font-logo: 'Parisienne', cursive;
$font-text: 'Roboto', sans-serif;

$color-yellow-logo: #FFCE85;
$color-yellow-darker: #FBC162;
$color-btn-hover:  #F3A21C;
$color-entry-input: #FBF8F3;
$color-navy-blue: #011242;
$color-error: rgb(211, 0, 0);

$color-mood-amazing:#0CB1FF;
$color-mood-good:#007DB8;
$color-mood-meh:#5C7B8A;
$color-mood-bad:#36505B;;
$color-mood-awful:#282828;