$font-logo: 'Parisienne', cursive;
$font-text: 'Roboto', sans-serif;

$color-yellow-logo: #FFCE85;
$color-yellow-darker: #FBC162;
$color-btn-hover:  #F3A21C;
$color-entry-input: #FBF8F3;
$color-navy-blue: #011242;
$color-error: rgb(211, 0, 0);