.home__page {
    height: calc(100vh - 110px);
    margin-top: 20px;
    background: no-repeat center url(../home4.png);
    background-size: 43%;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__entry {
        width: 1000px;
       margin-top: -70px;
        text-align: center;

    }

    &__title {
        font-family: $font-logo;
        font-size: 4rem;
        line-height: 6rem;
        color: #fff;
        margin-bottom: 30px;
    }

    &__button {
        @extend %button-yellow;
        margin-top: 50px;
    }
}