.login__page {
    width: 100%;
    height: 100vh;

    &__container {
        margin-top: 100px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__img {
        display:flex ;
        width: 600px;
        height: 600px;

        & img {
            width: 100%;
            height: auto;
        }
    }
}

.login__form {

    width: 600px;

    &__title {
        text-align: center;
        font-family: $font-logo;
        font-size: 4.5rem;
    }

    &__container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        align-items: center;

    }

    &__button {
        @extend %button-yellow;
        margin-top: 20px;
    }

}
