.start__page {
    height: calc(100vh - 110px);
    margin-top: 20px;
    background: no-repeat center url(../home3.png);
    background-size: 40%;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-family: $font-logo;
        font-size: 5rem;
        color: #ffff;
        margin-top: -130px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        height: 65px;
        margin-top: 25px;
    }

    &__button {
        margin: 20px 20px 0 10px;
        font-family: $font-text;
        text-decoration: none;
        color: #1C445A;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 10px 25px;
        background-color: $color-yellow-darker;
        border-radius: 25px;
        box-shadow: 1px 0 15px rgba($color: #000000, $alpha: 0.6);

        &:hover {
            background: #F3A21C;
            color: #ffff;
        }

        &:nth-child(2){
            background: #1C445A;
            color: $color-yellow-darker;

            &:hover {
                background: #255d7a;
                color: #ffff;
            }
        }

    }
}



